{{template "base/header" .}}

<!--Main layout-->
<main class="main">
	<!-- Breadcrumb-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
		  <a href="admin">管理概览</a>
		</li>
		<li class="breadcrumb-item">
		  <a href="admin/pix">作品</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			详细信息
		</li>
	</ol>

	<div class="container-fluid">
  	<div class="animated fadeIn">
			<div class="row justify-content-center">
				<div class="col-md-8">

						<div class="card">
							<!-- Breadcrumb-->
							<ol class="breadcrumb">
								<li class="breadcrumb-item active" aria-current="page">
									上传封面
								</li>
							</ol>
							<div class="card-body">
								<div class="form-group row">
									<label class="col-md-3 col-form-label" for="file-input">上传封面图片</label>
									<div class="col-md-9">
										<input id="file-input" type="file" name="file-input">
									</div>
								</div>
							</div>
						</div>

						<div class="card">
							<!-- Breadcrumb-->
							<ol class="breadcrumb">
								<li class="breadcrumb-item active" aria-current="page">
									作品信息
								</li>
							</ol>

							<div class="card-body was-validated">
								<div class="form-group row">
									<div class="col-sm-12">
										<input class="form-control" type="text" name="Title" placeholder="请输入作品名称" required="" value="{{.title}}" readonly>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-12">
										<textarea class="form-control" name="Content" rows="12" placeholder="作品说明" required="" readonly>{{.content}}</textarea>
									</div>
								</div>
							</div>
						</div>

						<div class="card">
							<!-- Breadcrumb-->
							<ol class="breadcrumb">
								<li class="breadcrumb-item active" aria-current="page">
									上传附件
								</li>
							</ol>
							<div class="card-body">
								<div class="form-group row">
									<label class="col-md-3 col-form-label" for="file-input">上传打包文件</label>
									<div class="col-md-9">
										<input id="file-input" type="file" name="file-input">
									</div>
								</div>
							</div>
						</div>

				</div>
			</div>
		</div>
	</div>

</main>
<!--Main layout-->

{{template "base/footer" .}}
