{{template "base/header" .}}

<!--Main layout-->
<main class="main">
	<!-- Breadcrumb-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
		  <a href="user/home">我的</a>
		</li>
		<li class="breadcrumb-item">
		  <a href="user/settings">设置</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			头像
		</li>
	</ol>

	<div class="container-fluid">
  	<div class="animated fadeIn">
		  <div class="row justify-content-center">
					<!--
					{{template "user/settings/navbar" .}}
					-->
					<div class="col-md-6">
						{{template "base/alert" .}}

						<div class="card">
							<div class="card-header">
								头像
							</div>
							<div class="card-body">
								<div class="row my-4">
									<img src="{{AppendAvatarSize .LoggedUser.AvatarLink 150}}" class="rounded mx-auto d-block" alt="{{.LoggedUserName}}">
								</div>


								<form class="form-horizontal" action="{{.Link}}" method="post" enctype="multipart/form-data">
								<hr class="my-4">
									<div class="alert alert-warning alert-dismissible fade show" role="alert">
									  如若修改本方式显示的头像图片，请用本邮箱登录 cn.gravatar.com 里设置。
										<!--
										<button class="close" type="button" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
										-->
									</div>
								<div class="col-md-10 justify-content-center">
									<div class="form-group row">
										<div class="form-check">
											<input class="form-check-input" type="radio" value="bymail" name="Source" {{if not .LoggedUser.UseCustomAvatar}}checked{{end}}>
											<label class="form-check-label">通过邮箱地址获取头像</label>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-md-3">
											<label class="form-check-label">邮箱地址</label>
										</div>
										<div class="col-md-9">
											<input class="form-control" id="disabled-input" type="text" name="disabled-input" placeholder="{{ .LoggedUser.Email }}" disabled="">
										</div>
									</div>
								</div>
								<hr class="my-4">
								<div class="col-10 justify-content-center">
									<div class="form-group row">
										<div class="form-check">
											<input class="form-check-input" type="radio" value="local" name="Source" {{if .LoggedUser.UseCustomAvatar}}checked{{end}}>
											<label class="form-check-label">使用自定义头像</label>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-md-3 col-form-label" for="Avatar">上传封面图片</label>
										<div class="col-md-9">
											<input id="Avatar" type="file" name="Avatar">
										</div>
									</div>
								</div>
								<hr class="my-4">
								<div class="col-12">
									<div class="row justify-content-center">
											<div class="col-md-4 text-center">
												<button class="btn btn-primary btn-block" type="submit">
													<i class="fa fa-dot-circle-o"></i> 更新头像</button>
											</div>
									</div>
								</div>
								</form>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

</main>
<!--Main layout-->

{{template "base/footer" .}}
