{{template "base/header" .}}

<!--Main layout-->
<main class="main">
	<!-- Breadcrumb-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
		  <a href="explore">发现</a>
		</li>
		<li class="breadcrumb-item">
		  <a href="explore/works">作品</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			详细信息
		</li>
	</ol>

	<div class="container-fluid">
  	<div class="animated fadeIn">
			<div class="row justify-content-center">
				<div class="col-8">

						<div class="row">
							<div class="col-12">
								<div class="card-group my-4">
									<div class="card col-9">
										<div class="card-body">
											<h2> {{.title}} </h2>
											<p class="text-muted"> {{.content}} </p>
											<div class="row text-muted">
												<div><i class="icon-eye icons font-xl mt-4 col-6"></i> {{ .Post.NumViews }} </div>
												<div><i class="icon-like icons font-xl mt-4 col-6"></i> {{ .Post.NumLikes }} </div>
												<div><i class="icon-cloud-download icons font-xl mt-4 col-6 "></i> {{ .Post.NumDownloads }} </div>
											</div>
										</div>
									</div>
									<div class="card col-3">
										<div class="card-body text-center">
											<div>
												<img class="img-avatar" src="{{ .Post.Author.AvatarLink }}" alt="{{ .Post.Author.LoginName }}">
												<p>
												<p> {{.Post.Author.DisplayName}} </p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="card">
							<!-- Breadcrumb-->
							<ol class="breadcrumb">
								<li class="breadcrumb-item active" aria-current="page">
									封面
								</li>
							</ol>
							<div class="card-body">
								{{range .Post.CoverImg}}
								<div class="row justify-content-center mx-auto">
										<div class="text-center">
											<img class="img-thumbnail" src="{{AppSubURL}}/covers/{{.UUID}}" alt="{{.Name}}">
										</div>
								</div>
								{{end}}
								<!-- FIXME: add update section later
								<div class="form-group row">
									<label class="col-md-3 col-form-label" for="file-input">上传封面图片</label>
									<div class="col-md-9">
										<input id="file-input" type="file" name="file-input">
									</div>
								</div>
								<hr class="my-4">
								<div class="row align-items-center">
										<div class="col-md-4 text-center">
											<button class="btn btn-primary btn-block" type="submit">
												<i class="fa fa-dot-circle-o"></i> 上传</button>
										</div>
								</div>
								-->
							</div>
						</div>

						<div class="card">
							<!-- Breadcrumb-->
							<ol class="breadcrumb">
								<li class="breadcrumb-item active" aria-current="page">
									附件
								</li>
							</ol>
							<div class="card-body">
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
									<strong>点击下列附件即可下载！</strong>
									<button class="close" type="button" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>

								{{if .Post.Attachments}}
								<div class="list-group">
								{{range .Post.Attachments}}
									<a target="_blank" href="{{AppSubURL}}/attachments/{{.UUID}}/action/download" title="点击下载 {{ .Name}}">
										{{if FilenameIsImage .Name}}
											<img src="{{AppSubURL}}/attachments/{{.UUID}}" alt="{{.Name}}" title="点击下载 {{ .Name}}" class="img-thumbnail">
										{{else}}
											<span><i class="fa fa-download fa-2x text-primary mt-4"></i> {{ .Name}}</span>
										{{end}}
									</a>
								{{end}}
								</div>
								{{end}}



								<!-- FIXME: add update later
								<hr class="my-4">
								<div class="form-group row">
									<label class="col-md-3 col-form-label" for="file-input">上传打包文件</label>
									<div class="col-md-9">
										<input id="file-input" type="file" name="file-input">
									</div>
								</div>
								-->
							</div>
						</div>

				</div>
			</div>
		</div>
	</div>

</main>
<!--Main layout-->

{{template "base/footer" .}}
