    <!--Footer-->
    <footer>

			<!-- <div class="page-footer footer-light pt-4 mt-4"> -->
					<div class="footer-copyright text-center py-3">© 2018
							<a href="#"> Citadel </a>
					</div>
			<!-- </div> -->

    </footer>
    <!--Footer-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="{{AppSubURL}}/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{AppSubURL}}/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{AppSubURL}}/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{AppSubURL}}/js/mdb.min.js"></script>
</body>

</html>
