
	</div>

	<!--Footer-->
	<footer class="app-footer">
	<div class="container-fluid row text-center">
		<div class="col-2">
		  <span>&copy; 2018</span>
			<a href="mailto:ott-citadel@opg.cn"> Citadel </a>
		</div>
		<div class="col-3">
			{{AppName}} {{AppVer}}  页面载入时间: {{LoadTimes .PageStartTime}}
		</div>
		<div class="col">
			Commit ID: {{BuildGitHash}}
		</div>
		<div class="col-4">
			{{GoVer}} 构建时间:{{BuildTime}}
		</div>

	</div>
	</footer>
	<!--Footer-->

	<!-- SCRIPTS -->
	<!-- CoreUI and necessary plugins-->
	<script type="text/javascript" src="{{AppSubURL}}/node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="{{AppSubURL}}/node_modules/popper.js/dist/umd/popper.min.js"></script>
	<script type="text/javascript" src="{{AppSubURL}}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{AppSubURL}}/node_modules/pace-progress/pace.min.js"></script>
	<script type="text/javascript" src="{{AppSubURL}}/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
	<script type="text/javascript" src="{{AppSubURL}}/node_modules/@coreui/coreui/dist/js/coreui.min.js"></script>

	<!-- Plugins and scripts required by this view-->
	<script type="text/javascript" src="{{AppSubURL}}/node_modules/chart.js/dist/Chart.min.js"></script>
	<script type="text/javascript" src="{{AppSubURL}}/node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
	<script type="text/javascript" src="{{AppSubURL}}/js/main.js"></script>

</body>
</html>
