<!DOCTYPE html>
	<html lang="zh">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{AppName}}</title>

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap core CSS -->
	<link href="{{AppSubURL}}/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="{{AppSubURL}}/css/mdb.min.css" rel="stylesheet">
	<!-- Your custom styles (optional) -->
	<link href="{{AppSubURL}}/css/style.css" rel="stylesheet">
</head>

<body>

<!--Main Navigation-->
<header>

  <div class="container">

	<nav class="navbar navbar-expand-md navbar-dark primary-color scrolling-navbar">
		<a class="navbar-brand" href="#"><strong>PixPress</strong></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{{AppSubURL}}/">首页 <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">发现</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					{{if .IsLogged}}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{.LoggedUserName}}
							</a>
							<div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="/user/{{.LoggedUserName}}">我的信息</a>
									<a class="dropdown-item" href="#">我的作品</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/user/logout">登出</a>
							</div>
						</li>
					{{else}}
						<li class="nav-item">
							<a class="nav-link" href="/user/login">登录</a>
						</li>
					{{end}}
				</ul>


				<!-- <ul class="navbar-nav nav-flex-icons">
					<li class="nav-item">
						<a class="nav-link"><i class="fa fa-facebook"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link"><i class="fa fa-twitter"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link"><i class="fa fa-instagram"></i></a>
					</li>
				</ul> -->
		</div>
	</nav>

	</div>

</header>
<!--Main Navigation-->
