{{template "base/header" .}}

<!--Main layout-->
<main class="main">

	<div class="col-lg-6 col-md-4">
		<div class="card">
			<div class="card-header">ANONYMOUS USER HOME</div>
			<div class="card-body">ANONYMOUS USER HOME.</div>
			<div class="card-footer">ANONYMOUS USER HOME</div>
		</div>
	</div>

</main>
<!--Main layout-->

{{template "base/footer" .}}
