{{template "base/header" .}}

<!--Main layout-->
<main>

	<div class="container mt-5">
		<div class="card card-login mx-auto my-5" style="width: 25rem;">
			<div class="card-header">ANONYMOUS USER HOME</div>
			<div class="card-body">ANONYMOUS USER HOME</div>
		</div>
	</div>

</main>
<!--Main layout-->

{{template "base/footer" .}}
