{{template "base/header" .}}

<main class="main">
	<!-- Breadcrumb-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
		  <a href="admin">管理概览</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			用户列表
		</li>
	</ol>

	<div class="container-fluid">
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-lg-12">

          <div class="card">

            <div class="card-body">
							<table class="table table-responsive-sm table-bordered table-striped table-sm">
								<thead>
									<tr>
										<th>用户ID</th>
										<th>用户名</th>
										<th>中文名</th>
										<th>注册日期</th>
										<th>管理员状态</th>
										<th>激活状态</th>
										<th>允许登录</th>
									</tr>
								</thead>
								<tbody>
									{{range .Users}}
									<tr>
										<td>{{ .ID}}</td>
										<td>{{ .LoginName}}</td>
										<td>{{ .DisplayName}}</td>
										<td><span title="{{DateFmtLong .Created}}">{{DateFmtShort .Created }}</span></td>
										<td><i class="fa fa{{if .IsAdmin}}-check{{end}}-square-o"></i></td>
										<td><i class="fa fa{{if .IsActive}}-check{{end}}-square-o"></i></td>
										<td><i class="fa fa{{if not .ProhibitLogin}}-check{{end}}-square-o"></i></td>
									</tr>
									{{end}}
								</tbody>
							</table>
							<ul class="pagination justify-content-center">
								<li class="page-item">
									<a class="page-link" href="#">Prev</a>
								</li>
								<li class="page-item active">
									<a class="page-link" href="#">1</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">2</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">3</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">4</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">Next</a>
								</li>
							</ul>
							{{with .Page}}
							  {{if gt .TotalPages 1}}
							<ul class="pagination justify-content-center">
								<li class="page-item">
									<a class="page-link" href="#">Prev</a>
								</li>
								<li class="page-item active">
									<a class="page-link" href="#">1</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">2</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">3</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">4</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">Next</a>
								</li>
							</ul>
							  {{end}}
							{{end}}
						</div>

					</div>

				</div>
				<!-- /.col-->
				<!-- /.row-->
			</div>
		</div>
	</main>

</main>

{{template "base/footer" .}}
