{{template "base/header" .}}

<!--Main layout-->
<main class="main">
	<!-- Breadcrumb-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
		  <a href="user/home">我的</a>
		</li>
		<li class="breadcrumb-item">
		  <a href="pix">作品</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			详细信息
		</li>
	</ol>

	<div class="container-fluid">
  	<div class="animated fadeIn">
			<div class="row justify-content-center">
				<div class="col-md-8">
						<div class="alert alert-warning alert-dismissible fade show" role="alert">
							本版本暂只能支持更新作品标题和说明。<br>
							如若需要更新封面图片和附件文件，请新建一个作品进行上传更新，并删除原作品进行操作。<br>
							下个版本将会支持封面和附件的更新操作。
							<!--
							<button class="close" type="button" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							-->
						</div>
						<div class="card">
							<!-- Breadcrumb-->
							<ol class="breadcrumb">
								<li class="breadcrumb-item active" aria-current="page">
									封面
								</li>
							</ol>
							<div class="card-body mt-0 pt-0">
								{{range .Post.CoverImg}}
								<div class="row justify-content-center mx-auto">
										<div class="text-center">
											<img class="img-thumbnail" src="{{AppSubURL}}/covers/{{.UUID}}" alt="{{.Name}}">
										</div>
								</div>
								{{end}}
							</div>
						</div>

					<form class="form-horizontal" action="{{.Link}}" method="post" enctype="multipart/form-data">

						<div class="card">
							<!-- Breadcrumb-->
							<ol class="breadcrumb">
								<li class="breadcrumb-item active" aria-current="page">
									作品信息
								</li>
							</ol>

							<div class="card-body was-validated">
								<div class="form-group row">
									<label for="staticEmail" class="col-md-2 col-form-label">作品标题</label>
									<div class="col-md-10">
									<input class="form-control is-invalid" type="text" name="Title" required="" value="{{.title}}">
									</div>
								</div>
								<div class="form-group row">
									<label for="staticEmail" class="col-md-2 col-form-label">作品说明</label>
									<div class="col-md-10">
										<textarea class="form-control is-invalid" name="Content" rows="5" required="">{{.content}}</textarea>
									</div>
								</div>
							</div>
						</div>

						<div class="card">
							<!-- Breadcrumb-->
							<ol class="breadcrumb">
								<li class="breadcrumb-item active" aria-current="page">
									附件
								</li>
							</ol>
							<div class="card-body">
								{{if .Post.Attachments}}
								<div class="list-group">
								{{range .Post.Attachments}}
									<a target="_blank" href="{{AppSubURL}}/attachments/{{.UUID}}" title="点击下载 {{ .Name}}">
										{{if FilenameIsImage .Name}}
											<img src="{{AppSubURL}}/attachments/{{.UUID}}" alt="{{.Name}}" title="点击下载 {{ .Name}}" class="img-thumbnail">
										{{else}}
											<span><i class="fa fa-download fa-2x text-primary mt-4"></i> {{ .Name}}</span>
										{{end}}
									</a>
								{{end}}
								</div>
								{{end}}



								<!-- FIXME: add update later
								<hr class="my-4">
								<div class="form-group row">
									<label class="col-md-3 col-form-label" for="file-input">上传打包文件</label>
									<div class="col-md-9">
										<input id="file-input" type="file" name="file-input">
									</div>
								</div>
								-->
							</div>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="row justify-content-center">
										<div class="col-md-6 text-center">
											<button class="btn btn-primary btn-block" type="submit">
												<i class="fa fa-dot-circle-o"></i> 更新</button>
										</div>
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>

</main>
<!--Main layout-->

{{template "base/footer" .}}
