{{template "base/header" .}}

<main class="main">
	<!-- Breadcrumb-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
		  <a href="user/home">我的</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			创作
		</li>
	</ol>

	<div class="container-fluid">
		<div class="animated fadeIn">
			<div class="row">
				{{range .Posts}}
				<div class="col-md-3">
					<div class="card">
						<img class="card-img-top" src="img/test.jpg" alt="card image cap">
						<div class="card-body">
							<h6 class="card-title">{{ .Title}}</h6>
							<p class="card-text">{{ .AuthorID}}</p>
						</div>
					</div>
				</div>
				{{end}}
			</div>

			{{with .Page}}
			{{if gt .TotalPages 1}}
			<div class="row">
				<ul class="pagination align-items-center">
					<li class="page-item {{if .IsFirst}}disabled{{end}}">
						<a class="page-link" href="{{$.Link}}?q={{$.Keyword}}">首页</a>
					</li>
					<li class="page-item {{if not .HasPrevious}}disabled{{end}}">
						<a class="page-link" href="{{$.Link}}?page={{.Previous}}&q={{$.Keyword}}"><i class="fa fa-backward"></i></a>
					</li>
					{{ range .Pages}}
						{{if eq .Num -1}}
						<li class="page-item disabled"> ...
						</li>
						{{else}}
						<li class="page-item {{if .IsCurrent}}active{{end}}">
							<a class="page-link" {{if not .IsCurrent}}href="{{$.Link}}?page={{.Num}}&q={{$.Keyword}}"{{end}}>{{.Num}}</a>
						</li>
						{{end}}
					{{end}}
					<li class="page-item {{if not .HasNext}}disabled{{end}}">
						<a class="page-link" href="{{$.Link}}?page={{.Next}}&q={{$.Keyword}}"><i class="fa fa-forward"></i></a>
					</li>
					<li class="page-item {{if .IsLast}}disabled{{end}}">
						<a class="page-link" href="{{$.Link}}?page={{.TotalPages}}&q={{$.Keyword}}">末页</a>
					</li>
				</ul>
			</div>
			{{end}}
			{{end}}


		</div>
	</div>
</main>

{{template "base/footer" .}}
