{{template "base/header" .}}

<!--Main layout-->
<main class="main">
	<!-- Breadcrumb-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
		  <a href="user/home">我的</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			新建作品
		</li>
	</ol>

	<div class="container-fluid">
  	<div class="animated fadeIn">
			<div class="row justify-content-center">
				<div class="col-md-8">
					{{template "base/alert" .}}

					<form class="form-horizontal" action="{{.Link}}" method="post">
						<div class="card">
							<!-- Breadcrumb-->
							<ol class="breadcrumb">
								<li class="breadcrumb-item active" aria-current="page">
									上传封面
								</li>
							</ol>
							<div class="card-body">
								<div class="form-group row">
									<div class="coverimg"></div>
									<div class="btn btn-block btn-light mx-3 dropzone" id="coverdropzone" style="border-style:dashed;border-width:2px;border-color:#20a8d8;">
									</div>
									<script type="text/javascript">
										var coverfilenameDict = {};
										var coverDropzone = new Dropzone("#coverdropzone", {
											url: "{{AppSubURL}}/pix/coverimgs",
											/* acceptedFiles: "{{.CoverAllowedTypes}}", */
											acceptedFiles: null,
											maxFiles: "{{.CoverMaxFiles}}",
											maxFilesize: "{{.CoverMaxSize}}",
											addRemoveLinks: true,
											dictDefaultMessage: "拖曳文件到此处或单击上传",
											dictInvalidFileType: "您不能上传该类型的文件",
											dictFileTooBig: "文件体积超过了最大允许体积( {{.CoverMaxSize}} MB )",
											dictMaxFilesExceeded: "只能上传 {{.CoverMaxFiles}} 个文件",
											dictRemoveFile: "点击移除",
											init: function () {
													this.on("success", function (file, data) {
															coverfilenameDict[file.name] = data.uuid;
															var input = $('<input id="' + data.uuid + '" name="CoverImg" type="hidden">').val(data.uuid);
															$('.coverimg').append(input);
													});
													this.on("removedfile", function (file) {
															if (file.name in coverfilenameDict) {
																	$('#' + coverfilenameDict[file.name]).remove();
															}
															if (this.data('remove-url')) {
																	$.post(this.data('remove-url'), {
																			file: coverfilenameDict[file.name],
																	});
															}
													});
											}
										});
									</script>
								</div>
							</div>
						</div>

						<div class="card">
							<!-- Breadcrumb-->
							<ol class="breadcrumb">
								<li class="breadcrumb-item active" aria-current="page">
									作品信息
								</li>
							</ol>

							<div class="card-body was-validated">
								<div class="form-group row">
									<div class="col-sm-12">
										<input class="form-control is-invalid" type="text" name="Title" placeholder="请输入作品名称" required="">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-12">
										<textarea class="form-control is-invalid" name="Content" rows="12" placeholder="作品说明" required=""></textarea>
									</div>
								</div>
							</div>
						</div>

						<div class="card">
							<!-- Breadcrumb-->
							<ol class="breadcrumb">
								<li class="breadcrumb-item active" aria-current="page">
									上传附件
								</li>
							</ol>
							<div class="card-body">
								<div class="form-group row">
									{{if .IsAttachmentEnabled}}
									<!-- FIXME: try this way later
									<div class="btn btn-block btn-light mx-3 dropzone" id="dropzone" style="border-style:dashed;border-width:2px;border-color:#20a8d8;" data-upload-url="{{AppSubURL}}/pix/attachments" data-accepts="{{.AttachmentAllowedTypes}}" data-max-file="{{.AttachmentMaxFiles}}" data-max-size="{{.AttachmentMaxSize}}" dictDefaultMessage="拖曳文件到此处或单击上传" data-invalid-input-type="您不能上传该类型的文件" data-file-too-big="文件体积（ MB）超过了最大允许体积（ MB）" data-remove-file="移除文件">
									<div class="invisible"><input id="file-input" type="file" name="Files" multiple=""></div>
									</div>
									-->
									<div class="files"></div>
									<div class="btn btn-block btn-light mx-3 dropzone" id="dropzone" style="border-style:dashed;border-width:2px;border-color:#20a8d8;">
									</div>
									<script type="text/javascript">
										var filenameDict = {};
										var attachmentDropzone = new Dropzone("#dropzone", {
											url: "{{AppSubURL}}/pix/attachments",
											/* acceptedFiles: "{{.AttachmentAllowedTypes}}", */
											acceptedFiles: null,
											maxFiles: "{{.AttachmentMaxFiles}}",
											maxFilesize: "{{.AttachmentMaxSize}}",
											addRemoveLinks: true,
											dictDefaultMessage: "拖曳文件到此处或单击上传",
											dictInvalidFileType: "您不能上传该类型的文件",
											dictFileTooBig: "文件体积超过了最大允许体积( {{.AttachmentMaxSize}} MB)",
											dictMaxFilesExceeded: "最多上传 {{.AttachmentMaxFiles}} 个文件",
											dictRemoveFile: "点击移除",
											init: function () {
													this.on("success", function (file, data) {
															filenameDict[file.name] = data.uuid;
															var input = $('<input id="' + data.uuid + '" name="Files" type="hidden">').val(data.uuid);
															$('.files').append(input);
													});
													this.on("removedfile", function (file) {
															if (file.name in filenameDict) {
																	$('#' + filenameDict[file.name]).remove();
															}
															/* if ($dropzone.data('remove-url') && $dropzone.data('csrf')) { */
														  if (this.data('remove-url')) {
																	$.post(this.data('remove-url'), {
																			file: filenameDict[file.name],
																	});
															}
													});
											}
										});
									</script>
									{{end}}
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="row justify-content-center">
										<div class="col-md-6 text-center">
											<button class="btn btn-primary btn-block" type="submit">
												<i class="fa fa-dot-circle-o"></i> 发布</button>
										</div>
										<!-- TODO: Temporarily disable reset button
										<div class="col-md-6 text-center">
											<button class="btn btn-danger btn-block" type="reset">
												<i class="fa fa-ban"></i> 重置</button>
										</div>
										-->
								</div>
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>

</main>
<!--Main layout-->

{{template "base/footer" .}}
