{{template "base/header" .}}

<!--Main layout-->
<main class="main">

	<div class="container">
		<div class="card mx-auto">
			<div class="card-header">LOGGED USER HOME</div>
			<div class="card-body">Logged User Home</div>
			<div class="card-footer">Card footer</div>
		</div>
	</div>

</main>
<!--Main layout-->

{{template "base/footer" .}}
