{{template "base/header" .}}

<!--Main layout-->
<main class="main">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <h1>登入</h1>
								<p class="text-muted"></p>
								<form action="{{.Link}}" method="post">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-user"></i>
                    </span>
                  </div>
                  <input class="form-control" type="text" name="LoginName" placeholder="帐号">
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <input class="form-control" type="password" name="Password" placeholder="密码">
                </div>
								<div class="form-check">
									<label class="CheckRememberPassword">
									<input class="form-check-input" type="checkbox">记住密码</label>
								</div>
								<p class="text-muted"></p>
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-primary px-4" type="submit">登录</button>
                  </div>
                  <div class="col-6 text-right">
                    <button class="btn btn-link px-0" type="button">忘记密码?</button>
                  </div>
                </div>
								</form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



</main>
<!--Main layout-->

{{template "base/footer" .}}
