{{template "base/header" .}}

<!--Main layout-->
<main>

	<div class="container mt-5">
		<div class="card card-login mx-auto my-5" style="width: 25rem;">
			<div class="card-header">登录</div>
				<div class="card-body">
					<form action="{{.Link}}" method="post">
						<div class="form-group">
								<label for="InputLoginName">帐号</label>
								<input class="form-control" id="InputLoginName" type="text" aria-describedby="LoginHelp" placeholder="输入帐号">
						</div>
						<div class="form-group">
								<label for="InputPassword">密码</label>
								<input class="form-control" id="InputPassword" type="password" placeholder="输入密码">
						</div>
						<div class="form-group">
								<div class="form-check">
								<label class="CheckRememberPassword">
										<input class="form-check-input" type="checkbox">记住密码</label>
								</div>
						</div>
						<button type= "submit" class="btn btn-lg btn-primary btn-block mt-4 font-weight-bold">登录</button>
					</form>
					<!--
					<div class="text-center">
					<a class="d-block small mt-3" href="register.html">Register an Account</a>
					<a class="d-block small" href="forgot-password.html">Forgot Password?</a>
					-->
				</div>
			</div>
		</div>
	</div>

</main>
<!--Main layout-->

{{template "base/footer" .}}
