{{template "base/header" .}}

<!--Main layout-->
<main class="main">
	<!-- Breadcrumb-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item active" aria-current="page">
			用户资料
		</li>
	</ol>

	<div class="container-fluid">
  	<div class="animated fadeIn">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="card">

						<div class="card-body">
							<div class="row justify-content-center my-4">
									<div class="img-avatar">
                  	<img class="img-avatar" src="{{ .UUser.AvatarLink }}" alt="{{.UUser.LoginName}}" style="width:100px">
                	</div>
							</div>
							<table class="table table-responsive-sm">
								<tbody>
									<tr>
										<td>用户 ID</td>
										<td>{{.UUser.ID}}</td>
									</tr>
									<tr>
										<td>姓名</td>
										<td>{{.UUser.DisplayName}}</td>
									</tr>
									<tr>
										<td>用户名称</td>
										<td>{{.UUser.LoginName}}</td>
									</tr>
									<tr>
										<td>电子邮件</td>
										<td>{{.UUser.Email}}</td>
									</tr>
									<tr>
										<td>手机号码</td>
										<td>{{.UUser.Mobile}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</main>
<!--Main layout-->

{{template "base/footer" .}}
