{{template "base/header" .}}


<main class="main">
	<!-- Breadcrumb-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">管理</li>
		<li class="breadcrumb-item active">
			<a href="admin/">Dashboard</a>
		</li>
	</ol>
	<div class="container-fluid">
		<div class="animated fadeIn">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="clearfix">
						<h1 class="float-left display-3 mr-4">更多精彩</h1>
						<h4 class="pt-3">即将到来!</h4>
						<p class="text-muted">一个人日夜开发中，敬请期待 ... ...</p>
          </div>
        </div>
      </div>
			<!-- /.row-->
		</div>
	</div>
</main>

{{template "base/footer" .}}
