{{template "base/header" .}}

<!--Main layout-->
<main class="main">

	<div class="col-lg-6 col-md-4">
		<div class="card">
			<div class="card-header">ADMIN DASHBOARD LIST</div>
			<div class="card-body">ADMIN DASHBOARD LIST.</div>
			<div class="card-footer">ADMIN DASHBOARD LIST</div>
		</div>
	</div>

</main>
<!--Main layout-->

{{template "base/footer" .}}
